* {
  padding: 0;
  margin: 0;
  border: 0; }

ul li {
  list-style: none; }

button {
  font-family: inherit;
  cursor: pointer; }

input, textarea {
  font-family: inherit; }

a:focus, a:active {
  outline: none; }

a, a:visited, a:hover {
  text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  background-color: #FFFFFF; }
  @media screen and (min-width: 1440px) {
    .header {
      background-color: #F8F8F8;
      height: 10px; } }
  .header .header__main {
    display: flex;
    align-items: center;
    margin-left: 16px; }
    .header .header__main .header__menu {
      margin-right: 16px; }
    @media screen and (min-width: 768px) {
      .header .header__main .header__menu {
        display: flex;
        margin-right: 0; }
        .header .header__main .header__menu::after {
          content: "";
          width: 2px;
          height: 32px;
          background-color: #EAEAEA;
          border-radius: 1px;
          margin: 4px 20px; } }
    @media screen and (min-width: 1440px) {
      .header .header__main {
        display: none; } }
  .header .header__extra {
    display: flex; }
    .header .header__extra .header__contacts {
      display: none;
      justify-content: space-evenly; }
      @media screen and (min-width: 768px) {
        .header .header__extra .header__contacts {
          display: flex; } }
      .header .header__extra .header__contacts .header__call {
        margin-right: 16px; }
        @media screen and (min-width: 1440px) {
          .header .header__extra .header__contacts .header__call {
            display: none; } }
      .header .header__extra .header__contacts .header__chat {
        margin-right: 16px; }
        @media screen and (min-width: 1440px) {
          .header .header__extra .header__contacts .header__chat {
            display: none; } }
      @media screen and (min-width: 1440px) {
        .header .header__extra .header__contacts .header__profile {
          display: none; } }
    .header .header__extra .header__repair-status {
      display: flex;
      justify-content: space-evenly; }
      @media screen and (min-width: 1440px) {
        .header .header__extra .header__repair-status {
          position: absolute;
          top: 40px;
          right: 30px; } }
      .header .header__extra .header__repair-status::before {
        content: "";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        margin: 4px 16px; }
        @media screen and (min-width: 1440px) {
          .header .header__extra .header__repair-status::before {
            display: none; } }
      .header .header__extra .header__repair-status .header__repair {
        margin-right: 16px;
        display: flex; }
        .header .header__extra .header__repair-status .header__repair .repair-status__label {
          color: #1B1C21;
          font-weight: 550;
          font-size: 16px;
          line-height: 24px;
          text-align: right;
          letter-spacing: -0.2px;
          padding-right: 10px;
          padding-top: 5px;
          display: none; }
          @media screen and (min-width: 1440px) {
            .header .header__extra .header__repair-status .header__repair .repair-status__label {
              display: block; } }
      .header .header__extra .header__repair-status .header__check-status {
        margin-right: 16px;
        display: flex; }
        .header .header__extra .header__repair-status .header__check-status .repair-status__label {
          color: #1B1C21;
          font-weight: 550;
          font-size: 16px;
          line-height: 24px;
          text-align: right;
          letter-spacing: -0.2px;
          padding-right: 10px;
          padding-top: 5px;
          display: none; }
          @media screen and (min-width: 1440px) {
            .header .header__extra .header__repair-status .header__check-status .repair-status__label {
              display: block; } }

.open-burger {
  height: 100%;
  margin-bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 800px;
  background-color: #FFFFFF;
  z-index: 2; }
  @media screen and (min-width: 360px) {
    .open-burger {
      min-width: 320px;
      max-width: 320px; } }
  @media screen and (min-width: 361px) {
    .open-burger {
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }
  @media screen and (min-width: 1440px) {
    .open-burger {
      position: static;
      display: block;
      box-shadow: none; } }
  .open-burger .open-burger__content {
    flex: 1 0 auto; }
    .open-burger .open-burger__content .open-burger__header {
      margin-left: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media screen and (min-width: 1440px) {
        .open-burger .open-burger__content .open-burger__header {
          margin-top: 10px; } }
      .open-burger .open-burger__content .open-burger__header .open-burger__close {
        display: flex;
        margin-top: 20px; }
        .open-burger .open-burger__content .open-burger__header .open-burger__close .open-burger__close-button {
          margin-right: 24px;
          margin-top: 3px; }
          @media screen and (min-width: 1440px) {
            .open-burger .open-burger__content .open-burger__header .open-burger__close .open-burger__close-button {
              display: none; } }
      .open-burger .open-burger__content .open-burger__header .open-burger__search {
        margin-right: 24px;
        margin-top: 10px; }
    .open-burger .open-burger__content .open-burger__menu {
      padding-top: 50px;
      padding-bottom: 30px;
      font-weight: 550;
      font-size: 16px;
      letter-spacing: -0.2px;
      line-height: 24px; }
      .open-burger .open-burger__content .open-burger__menu .open-burger__option {
        padding-bottom: 24px; }
        .open-burger .open-burger__content .open-burger__menu .open-burger__option .open-burger__ref {
          position: relative;
          text-decoration: none;
          color: #1B1C21;
          transition: opacity 0.1s linear;
          margin-left: 24px; }
          .open-burger .open-burger__content .open-burger__menu .open-burger__option .open-burger__ref:hover {
            opacity: 0.6; }
          .open-burger .open-burger__content .open-burger__menu .open-burger__option .open-burger__ref:hover::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 32px;
            left: -25px;
            top: -5px;
            background: #41F6D7;
            transform: matrix(-1, 0, 0, 1, 0, 0); }
  .open-burger .open-burger__footer-content {
    flex: 0 0 auto; }
    @media screen and (min-width: 1440px) {
      .open-burger .open-burger__footer-content {
        margin-top: 100px; } }
    .open-burger .open-burger__footer-content .open-burger__footer {
      display: flex;
      margin-left: 24px; }
      .open-burger .open-burger__footer-content .open-burger__footer .open-burger__contacts {
        display: flex; }
        .open-burger .open-burger__footer-content .open-burger__footer .open-burger__contacts .open-burger__call {
          margin-right: 16px; }
        .open-burger .open-burger__footer-content .open-burger__footer .open-burger__contacts .open-burger__chat {
          margin-right: 16px; }
      .open-burger .open-burger__footer-content .open-burger__footer .open-burger__email {
        margin-top: 16px;
        margin-bottom: 40px; }
        .open-burger .open-burger__footer-content .open-burger__footer .open-burger__email .open-burger__phone {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.6px;
          color: #1B1C21;
          padding-top: 12px; }
        .open-burger .open-burger__footer-content .open-burger__footer .open-burger__email .open-burger__mail {
          font-weight: 550;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          color: #1B1C21; }
      .open-burger .open-burger__footer-content .open-burger__footer .open-burger__languages {
        display: flex;
        padding-bottom: 32px; }
        .open-burger .open-burger__footer-content .open-burger__footer .open-burger__languages .lang-button {
          background-color: transparent;
          font-family: "TTLakes";
          font-style: normal;
          font-weight: 550;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          margin-right: 7px; }
          .open-burger .open-burger__footer-content .open-burger__footer .open-burger__languages .lang-button:hover {
            color: #7E7E82; }

.content__heading {
  border-top: 1px solid #D9FFF5;
  font-weight: 700;
  color: #1B1C21;
  font-size: 28px;
  letter-spacing: -0.6px;
  padding-top: 24px;
  padding-bottom: 24px; }
  .content__heading::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 40px;
    margin-right: 16px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0); }

.content__list {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  margin-left: 16px; }
  .content__list .content__option {
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: #7E7E82;
    padding: 8px 16px 8px 16px;
    margin-bottom: 16px; }
    .content__list .content__option:hover {
      background-color: #FFFFFF;
      border: 2px solid #B8FFEC;
      border-radius: 6px; }

.content__main {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .content__main {
      flex-wrap: nowrap; } }
  .content__main .content__text {
    max-width: 288px;
    font-size: 14px;
    color: #1B1C21;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 16px;
    margin-right: 16px;
    height: 90px;
    overflow: hidden;
    padding-left: 10px; }
    @media screen and (min-width: 768px) {
      .content__main .content__text {
        height: 160px;
        min-width: 312px;
        line-height: 20px; } }
    @media screen and (min-width: 1440px) {
      .content__main .content__text {
        min-width: 490px; } }
  .content__main .content__more {
    border: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    width: 132px;
    height: 24px;
    line-height: 24px;
    color: #1B1C21;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 0;
    padding-left: 16px;
    background-image: url(./static/arrow.svg);
    background-size: 7.41px;
    background-repeat: no-repeat;
    background-position: 0px 7px; }
  .content__main .content__image {
    width: 100%;
    max-width: 531px;
    height: auto; }
    @media screen and (min-width: 768px) {
      .content__main .content__image {
        border-radius: 6px;
        margin-left: 48px;
        margin-right: 25px;
        max-width: 110%; } }
    @media screen and (min-width: 1440px) {
      .content__main .content__image {
        border-radius: 6px;
        margin-left: 30px;
        margin-right: 25px; } }

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-pointer-events {
  touch-action: pan-y; }
  .swiper-pointer-events.swiper-vertical {
    touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto; }

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px; }

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d; }

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15); }

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999; }

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after); }

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after); }

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center; }

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */ }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color)); }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none; }
  .swiper-button-prev.swiper-button-hidden,
  .swiper-button-next.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none; }
  .swiper-navigation-disabled .swiper-button-prev, .swiper-navigation-disabled
  .swiper-button-next {
    display: none !important; }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1; }

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto; }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: 'prev'; }

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto; }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: 'next'; }

.swiper-button-lock {
  display: none; }

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */ }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0; }
  .swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
    display: none !important; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative; }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33); }

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer; }
  .swiper-pagination-bullet:only-child {
    display: none !important; }

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color)); }

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block; }
  .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px; }
    .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
    .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      display: inline-block;
      transition: 200ms transform, 200ms top; }

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px); }

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; }
  .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left; }

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top; }
  .swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top; }
  .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0; }
  .swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical,
  .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0; }

.swiper-pagination-lock {
  display: none; }

.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative !important;
  z-index: 1 !important; }

.swiper-pagination .swiper-pagination-bullet {
  background-color: #DDDDDD; }
  @media screen and (min-width: 768px) {
    .swiper-pagination .swiper-pagination-bullet {
      display: none; } }

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #B5B6BC; }

.brands {
  background-color: #F8F8F8;
  border-top: 1px solid #D9FFF5; }
  .brands .brands-header {
    position: relative;
    padding-top: 15px;
    height: 80px;
    background-image: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    @media screen and (min-width: 768px) {
      .brands .brands-header {
        height: 56px; } }
    .brands .brands-header .brands-header__header {
      position: absolute;
      top: 35%;
      font-family: "TTLakes";
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7E7E82;
      margin-left: 16px; }
  .brands .brands-content {
    display: flex;
    overflow: hidden; }
    .brands .brands-content::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 81px;
      z-index: 10;
      top: 10px;
      right: 0;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .brands .brands-content .brands-content__brands {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      padding-left: 0;
      padding-right: 0;
      margin-left: 16px;
      margin-top: 16px; }
      @media screen and (min-width: 768px) {
        .brands .brands-content .brands-content__brands {
          flex-wrap: wrap; } }
      .brands .brands-content .brands-content__brands .brands-content__option {
        width: 240px;
        height: 72px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        position: relative;
        margin: 0px 16px 16px 0; }
        @media screen and (min-width: 768px) {
          .brands .brands-content .brands-content__brands .brands-content__option {
            margin-right: 24px; } }
        @media screen and (min-width: 1440px) {
          .brands .brands-content .brands-content__brands .brands-content__option {
            margin-right: 32px; } }
        .brands .brands-content .brands-content__brands .brands-content__option .brands-content__image {
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translate(0, -50%); }
        .brands .brands-content .brands-content__brands .brands-content__option .brands-content__more {
          position: relative;
          left: 185px;
          top: 16px;
          bottom: 16px;
          width: 36px;
          height: 36px;
          border: 2px solid #FF3E79;
          border-radius: 50%; }
          .brands .brands-content .brands-content__brands .brands-content__option .brands-content__more .brands-content__arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%); }
  .brands .brands-content--opened {
    height: auto; }
  .brands .brands-content--hidden {
    height: auto; }
    @media screen and (min-width: 768px) {
      .brands .brands-content--hidden {
        height: 180px; } }
  .brands .brands-more {
    display: none; }
    @media screen and (min-width: 768px) {
      .brands .brands-more {
        display: block; } }
    .brands .brands-more .brands-more__open {
      font-family: 'TT Lakes';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      border: 2px;
      background-color: transparent;
      width: 134px;
      height: 24px;
      text-align: left;
      margin-left: 24px;
      margin-top: 24px;
      margin-bottom: 24px;
      padding-right: 0;
      padding-left: 20px;
      background-image: url(./static/arrow.svg);
      background-size: 7.41px;
      background-repeat: no-repeat;
      background-position: 0px 7px; }

.devices {
  border-top: 1px solid #D9FFF5;
  background-color: #F8F8F8; }
  .devices .devices-header {
    position: relative;
    padding-top: 15px;
    height: 80px;
    background-image: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    @media screen and (min-width: 768px) {
      .devices .devices-header {
        height: 56px; } }
    .devices .devices-header .devices-header__header {
      margin-left: 16px;
      position: absolute;
      top: 35%;
      font-family: "TTLakes";
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7E7E82; }
  .devices .devices-content {
    display: flex; }
    .devices .devices-content::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 166px;
      z-index: 10;
      top: 10px;
      right: 0;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .devices .devices-content .devices-content__devices .devices-content__option {
      width: 240px;
      margin-left: 16px; }
      .devices .devices-content .devices-content__devices .devices-content__option .devices-content__button {
        width: 240px;
        height: 160px;
        margin: 16px 0;
        font-family: 'TT Lakes';
        font-weight: 550;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        position: relative;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px; }
        @media screen and (min-width: 768px) {
          .devices .devices-content .devices-content__devices .devices-content__option .devices-content__button {
            width: 224px; } }
        .devices .devices-content .devices-content__devices .devices-content__option .devices-content__button .devices-content__text {
          position: absolute;
          top: 16px;
          left: 16px; }
        .devices .devices-content .devices-content__devices .devices-content__option .devices-content__button .devices-content__more {
          position: relative;
          left: 180px;
          top: 40px;
          width: 36px;
          height: 36px;
          border: 2px solid #FF3E79;
          border-radius: 50%; }
          @media screen and (min-width: 768px) {
            .devices .devices-content .devices-content__devices .devices-content__option .devices-content__button .devices-content__more {
              left: 160px; } }
          .devices .devices-content .devices-content__devices .devices-content__option .devices-content__button .devices-content__more .devices-content__arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%); }
  .devices .devices-more {
    display: none; }
    @media screen and (min-width: 768px) {
      .devices .devices-more {
        display: block; } }
    .devices .devices-more .devices-more__open {
      font-family: 'TT Lakes';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      border: 2px;
      background-color: transparent;
      width: 134px;
      height: 24px;
      text-align: left;
      margin-left: 24px;
      margin-top: 10px;
      margin-bottom: 24px;
      padding-right: 0;
      padding-left: 20px;
      background-image: url(./static/arrow.svg);
      background-size: 7.41px;
      background-repeat: no-repeat;
      background-position: 0px 7px; }

.prices {
  border-top: 1px solid #D9FFF5;
  background-color: #F8F8F8; }
  .prices .prices-header {
    height: 56px;
    position: relative;
    padding-top: 15px;
    background-image: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    .prices .prices-header .prices-header__header {
      margin-left: 16px;
      position: absolute;
      top: 35%;
      font-family: "TTLakes";
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7E7E82; }
  .prices .prices-content {
    display: flex; }
    @media screen and (min-width: 768px) {
      .prices .prices-content {
        display: none; } }
    .prices .prices-content::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 200px;
      z-index: 10;
      top: 10px;
      right: 0;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    @media screen and (min-width: 768px) {
      .prices .prices-content .prices-content__prices {
        display: flex;
        flex-direction: column; } }
    .prices .prices-content .prices-content__prices .prices-content__option {
      margin: 16px 8px;
      width: 260px;
      height: 200px;
      background-color: #FFFFFF;
      border-radius: 6px; }
      @media screen and (min-width: 768px) {
        .prices .prices-content .prices-content__prices .prices-content__option {
          display: flex;
          margin: 0px 8px;
          height: 64px;
          width: 720px; } }
      .prices .prices-content .prices-content__prices .prices-content__option .prices-content__title {
        margin: 16px 0 0 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72; }
        @media screen and (min-width: 768px) {
          .prices .prices-content .prices-content__prices .prices-content__option .prices-content__title {
            display: none; } }
      .prices .prices-content .prices-content__prices .prices-content__option .prices-content__answer {
        margin: 4px 0 0 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21; }
      .prices .prices-content .prices-content__prices .prices-content__option .prices-content__button {
        position: relative;
        left: 120px;
        bottom: 35px;
        width: 119px;
        height: 32px;
        background-color: #FF3E79;
        border-radius: 16px; }
        .prices .prices-content .prices-content__prices .prices-content__option .prices-content__button .prices-content__button-text {
          position: absolute;
          top: 50%;
          left: 45px;
          margin-right: 50%;
          transform: translate(-50%, -50%);
          color: #FFFFFF;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: -0.15px; }
        .prices .prices-content .prices-content__prices .prices-content__option .prices-content__button .prices-content__arrow {
          position: absolute;
          top: 50%;
          left: 100px;
          margin-right: 50%;
          transform: translate(-50%, -50%); }
  .prices .prices-terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    width: 290px;
    margin-left: 24px; }
    @media screen and (min-width: 768px) {
      .prices .prices-terms {
        width: 421px;
        height: 100px; } }
    .prices .prices-terms .prices-terms__button {
      width: 192px;
      height: 55px;
      font-weight: 550;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      text-align: left;
      background-color: transparent;
      background-image: url(./static/get.svg);
      background-size: 7.41px;
      background-repeat: no-repeat;
      background-position: 110px 35px;
      margin-bottom: 40px;
      margin-top: 16px; }
      @media screen and (min-width: 768px) {
        .prices .prices-terms .prices-terms__button {
          width: 316px;
          height: 24px;
          background-position: 300px 8px; } }

.prices-table {
  display: none; }
  @media screen and (min-width: 768px) {
    .prices-table {
      display: block; } }
  .prices-table .prices-table__table-header {
    margin: 16px 16px 10px 30px;
    display: flex;
    justify-content: space-between;
    width: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72; }
    .prices-table .prices-table__table-header .prices-table__header-name {
      min-width: 360px; }
      @media screen and (min-width: 1440px) {
        .prices-table .prices-table__table-header .prices-table__header-name {
          min-width: 470px; } }
    .prices-table .prices-table__table-header .prices-table__header-price {
      min-width: 85px; }
      @media screen and (min-width: 1440px) {
        .prices-table .prices-table__table-header .prices-table__header-price {
          min-width: 180px; } }
    .prices-table .prices-table__table-header .prices-table__header-time {
      min-width: 81px; }
      @media screen and (min-width: 1440px) {
        .prices-table .prices-table__table-header .prices-table__header-time {
          min-width: 180px; } }
    .prices-table .prices-table__table-header .prices-table__header-fake {
      width: 119px; }
  .prices-table .prices-table__content {
    margin: 0px 0px 24px 16px;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21; }
    @media screen and (min-width: 1440px) {
      .prices-table .prices-table__content {
        width: 1060px; } }
    .prices-table .prices-table__content .prices-table__element {
      margin-left: 16px;
      margin-right: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      width: auto;
      border-bottom: 1px solid #EAEAEA; }
      .prices-table .prices-table__content .prices-table__element:last-child {
        border-bottom: none; }
      .prices-table .prices-table__content .prices-table__element .prices-table__name {
        min-width: 360px; }
        @media screen and (min-width: 1440px) {
          .prices-table .prices-table__content .prices-table__element .prices-table__name {
            min-width: 470px; } }
      .prices-table .prices-table__content .prices-table__element .prices-table__price {
        min-width: 85px; }
        @media screen and (min-width: 1440px) {
          .prices-table .prices-table__content .prices-table__element .prices-table__price {
            min-width: 180px; } }
      .prices-table .prices-table__content .prices-table__element .prices-table__time {
        min-width: 81px; }
        @media screen and (min-width: 1440px) {
          .prices-table .prices-table__content .prices-table__element .prices-table__time {
            min-width: 180px; } }
      .prices-table .prices-table__content .prices-table__element .prices-table__button {
        position: relative;
        width: 119px;
        height: 32px;
        background-color: #FF3E79;
        border-radius: 16px; }
        .prices-table .prices-table__content .prices-table__element .prices-table__button .prices-table__button-text {
          position: absolute;
          top: 50%;
          left: 45px;
          transform: translate(-50%, -50%);
          color: #FFFFFF;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: -0.15px; }
        .prices-table .prices-table__content .prices-table__element .prices-table__button .prices-table__arrow {
          position: absolute;
          top: 50%;
          left: 100px;
          transform: translate(-50%, -50%); }

.footer {
  display: flex;
  background-color: #F8F8F8;
  border-bottom: 1px solid #D9FFF5;
  height: 147px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 768px) {
    .footer {
      height: 105px;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between; } }
  @media screen and (min-width: 1440px) {
    .footer {
      height: 85px;
      flex-wrap: no-wrap;
      justify-content: space-between; } }
  .footer .footer__team {
    padding-top: 16px;
    width: 219px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .footer .footer__team {
        text-align: left;
        padding-top: 32px; } }
  .footer .footer__confidence {
    padding-top: 16px;
    min-width: 215px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .footer .footer__confidence {
        padding-top: 32px; } }
  .footer .footer__oferta {
    padding-top: 16px;
    width: 315px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .footer .footer__oferta {
        text-align: right;
        width: 215px;
        padding-top: 32px; } }
    @media screen and (min-width: 1440px) {
      .footer .footer__oferta {
        width: 330px; } }

.modal-feedback {
  padding: 40px 16px 24px 16px;
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  background-color: #F8F8F8;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s; }
  .modal-feedback.open {
    visibility: visible;
    opacity: 1; }
  @media screen and (min-width: 470px) {
    .modal-feedback {
      padding: 40px 16px 24px 16px;
      max-width: 440px;
      min-width: 440px;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }
  @media screen and (min-width: 768px) {
    .modal-feedback .modal-feedback__close-button {
      position: absolute;
      left: -60px;
      z-index: 50; } }
  .modal-feedback .modal-feedback__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-top: 40px;
    margin-bottom: 24px;
    position: relative; }
    .modal-feedback .modal-feedback__header::before {
      content: "";
      position: absolute;
      left: -16px;
      top: -5px;
      width: 4px;
      height: 40px;
      margin-right: 16px;
      background: #41F6D7;
      transform: matrix(-1, 0, 0, 1, 0, 0); }
    @media screen and (min-width: 768px) {
      .modal-feedback .modal-feedback__header {
        margin-top: 5px; } }
  .modal-feedback .modal-feedback__form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 620px; }
    .modal-feedback .modal-feedback__form .modal-feedback__name {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      margin-bottom: 16px;
      padding-left: 16px; }
      .modal-feedback .modal-feedback__form .modal-feedback__name:focus {
        border: 1px solid #EAEAEA; }
      .modal-feedback .modal-feedback__form .modal-feedback__name::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__name::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__name:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__name::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-feedback .modal-feedback__form .modal-feedback__phone {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      margin-bottom: 16px;
      padding-left: 16px; }
      .modal-feedback .modal-feedback__form .modal-feedback__phone::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__phone::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__phone:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__phone::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-feedback .modal-feedback__form .modal-feedback__email {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      margin-bottom: 16px;
      padding-left: 16px; }
      .modal-feedback .modal-feedback__form .modal-feedback__email::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__email::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__email:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__email::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-feedback .modal-feedback__form .modal-feedback__message {
      padding-left: 16px;
      padding-top: 12px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 118px;
      margin-bottom: 16px;
      resize: none; }
      .modal-feedback .modal-feedback__form .modal-feedback__message::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__message::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__message:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-feedback .modal-feedback__form .modal-feedback__message::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-feedback .modal-feedback__form .modal-feedback__terms {
      font-weight: 550;
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82; }
      .modal-feedback .modal-feedback__form .modal-feedback__terms .modal-feedback__important {
        color: #FF3E79; }
    .modal-feedback .modal-feedback__form .modal-feedback__button {
      position: relative;
      left: 160px;
      bottom: -10px;
      width: 119px;
      height: 32px;
      background-color: #FF3E79;
      border-radius: 16px;
      z-index: 10; }
      @media screen and (min-width: 401px) {
        .modal-feedback .modal-feedback__form .modal-feedback__button {
          left: 250px;
          bottom: -10px; } }
      .modal-feedback .modal-feedback__form .modal-feedback__button .modal-feedback__button-text {
        position: absolute;
        top: 50%;
        left: 45px;
        margin-right: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px; }
      .modal-feedback .modal-feedback__form .modal-feedback__button .modal-feedback__arrow {
        position: absolute;
        top: 50%;
        left: 100px;
        margin-right: 50%;
        transform: translate(-50%, -50%); }

.modal-call {
  padding: 40px 16px 24px 16px;
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  background-color: #F8F8F8;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s; }
  .modal-call.open {
    visibility: visible;
    opacity: 1; }
  @media screen and (min-width: 470px) {
    .modal-call {
      padding: 40px 16px 24px 16px;
      max-width: 440px;
      min-width: 440px;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }
  @media screen and (min-width: 768px) {
    .modal-call .modal-call__close-button {
      position: absolute;
      left: -60px;
      z-index: 50; } }
  .modal-call .modal-call__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-top: 40px;
    margin-bottom: 24px;
    position: relative; }
    .modal-call .modal-call__header::before {
      content: "";
      position: absolute;
      left: -16px;
      top: -5px;
      width: 4px;
      height: 40px;
      margin-right: 16px;
      background: #41F6D7;
      transform: matrix(-1, 0, 0, 1, 0, 0); }
    @media screen and (min-width: 768px) {
      .modal-call .modal-call__header {
        margin-top: 5px; } }
  .modal-call .modal-call__form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 620px; }
    .modal-call .modal-call__form .modal-call__name {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      margin-bottom: 16px;
      padding-left: 16px; }
      .modal-call .modal-call__form .modal-call__name:focus {
        border: 1px solid #EAEAEA; }
      .modal-call .modal-call__form .modal-call__name::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__name::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__name:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__name::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-call .modal-call__form .modal-call__phone {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      margin-bottom: 16px;
      padding-left: 16px; }
      .modal-call .modal-call__form .modal-call__phone::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__phone::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__phone:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__phone::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-call .modal-call__form .modal-call__email {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      margin-bottom: 16px;
      padding-left: 16px; }
      .modal-call .modal-call__form .modal-call__email::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__email::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__email:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__email::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-call .modal-call__form .modal-call__message {
      padding-left: 16px;
      padding-top: 12px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 118px;
      margin-bottom: 16px;
      resize: none; }
      .modal-call .modal-call__form .modal-call__message::-webkit-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__message::-moz-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__message:-ms-input-placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
      .modal-call .modal-call__form .modal-call__message::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC; }
    .modal-call .modal-call__form .modal-call__terms {
      font-weight: 550;
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82; }
      .modal-call .modal-call__form .modal-call__terms .modal-call__important {
        color: #FF3E79; }
    .modal-call .modal-call__form .modal-call__button {
      position: relative;
      left: 160px;
      bottom: -10px;
      width: 119px;
      height: 32px;
      background-color: #FF3E79;
      border-radius: 16px;
      z-index: 10; }
      @media screen and (min-width: 401px) {
        .modal-call .modal-call__form .modal-call__button {
          left: 250px;
          bottom: -10px; } }
      .modal-call .modal-call__form .modal-call__button .modal-call__button-text {
        position: absolute;
        top: 50%;
        left: 45px;
        margin-right: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px; }
      .modal-call .modal-call__form .modal-call__button .modal-call__arrow {
        position: absolute;
        top: 50%;
        left: 100px;
        margin-right: 50%;
        transform: translate(-50%, -50%); }

@font-face {
  font-family: "TTLakes";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/TTLakes-Regular.ttf); }

@font-face {
  font-family: "TTLakes";
  font-weight: 550;
  font-style: normal;
  src: url(./fonts/TTLakes-Medium.ttf); }

@font-face {
  font-family: "TTLakes";
  font-weight: 700;
  font-style: normal;
  src: "../fonts/TTLakes-Bold.ttf"; }

.icon-button {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  position: relative;
  border: none; }

.icon-image {
  position: absolute;
  top: 25%;
  left: 25%; }

body {
  font-family: "TTLakes";
  max-width: 1440px;
  margin: auto;
  color: #F8F8F8; }
  @media screen and (min-width: 768px) {
    body {
      position: relative; } }
  body.overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.96; }
  body main {
    background-color: #F8F8F8; }
  @media screen and (min-width: 1440px) {
    body .super-wrapper {
      display: flex; } }

.hidden {
  display: none; }
  @media screen and (min-width: 1440px) {
    .hidden {
      display: flex; } }


/*# sourceMappingURL=style.css.map*/