.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    background-color: $menuColor;
    @media screen and (min-width: 1440px) {
        background-color: $bgColor;   
        height: 10px;     
    }

    .header__main {
        display: flex; 
        align-items: center;
        margin-left: 16px;
        .header__menu {
           margin-right: 16px;   
        }
        
        @media screen and (min-width: 768px) {
            .header__menu {
                display: flex;
                margin-right: 0;
                &::after {
                    content: "";
                    width: 2px;
                    height: 32px;
                    // border: 1px solid $elmColor;
                    background-color: $elmColor;
                    border-radius: 1px;
                    margin: 4px 20px;
                }
            }
        }
        @media screen and (min-width: 1440px) {
            display: none;
        
        }
    }
    
    .header__extra {
        display: flex;
        .header__contacts {
            display: none;
            justify-content: space-evenly;
            @media screen and (min-width: 768px) {
                display: flex;
            }
            
            .header__call {
                margin-right: 16px;
                @media screen and (min-width: 1440px) {
                    display: none;
                }
            }
            
            .header__chat {
                margin-right: 16px;
                @media screen and (min-width: 1440px) {
                    display: none;
                }
            }
            .header__profile {
                @media screen and (min-width: 1440px) {
                    display: none;
                }
            }
            
        }
        .header__repair-status {
            display: flex;
            justify-content: space-evenly;
            @media screen and (min-width: 1440px) {
                position: absolute;
                top: 40px;
                right: 30px;
                // display: block;
                // margin-left: auto;  
                // justify-content: right;
            }
            &::before {
                content: "";
                width: 2px;
                height: 32px;
                background: $elmColor;
                border-radius: 1px;
                margin: 4px 16px;
                @media screen and (min-width: 1440px) {
                    display: none;
                    
                }
            }     
            .header__repair {
                margin-right: 16px;
                display: flex;
                .repair-status__label {
                    color: $text;
                    font-weight: 550;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: right;
                    letter-spacing: -0.2px;
                    padding-right: 10px;
                    padding-top: 5px;
                    display: none;
                    @media screen and (min-width: 1440px) {
                        display: block; 
                        // position: absolute;
                    }
                }

            }
            .header__check-status {
                margin-right: 16px;
                display: flex;
                .repair-status__label {
                    color: $text;
                    font-weight: 550;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: right;
                    letter-spacing: -0.2px;
                    padding-right: 10px;
                    padding-top: 5px;
                    display: none;
                    @media screen and (min-width: 1440px) {
                        display: block; 
                    }
                }

            }
            
        }


    }

}


