$bgColor: #F8F8F8;
$menuColor: #FFFFFF;
$btnColor: #FF3E79;
$elmColor: #EAEAEA;
$text: #1B1C21;
$psdColor: #41F6D7;
$actColor: #7E7E82;
$borderColor: #B8FFEC;
$headerColor: #D9FFF5;
$placeColor: #B5B6BC;

@import "src/scss/null.scss";
@import "src/scss/header.scss";
@import "src/scss/menu.scss";
@import "src/scss/content.scss";
@import "swiper/swiper.scss";
@import "swiper/modules/navigation/navigation.scss";
@import "swiper/modules/pagination/pagination.scss";
@import "src/scss/brands.scss";
@import "src/scss/devices.scss";
@import "src/scss/prices.scss";
@import "src/scss/footer.scss";
@import "src/scss/modal-feedback.scss";
@import "src/scss/modal-call.scss";

@font-face {
  font-family: "TTLakes";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
  font-family: "TTLakes";
  font-weight: 550;
  font-style: normal;
  src: url("../fonts/TTLakes-Medium.ttf");
}
@font-face {
  font-family: "TTLakes";
  font-weight: 700;
  font-style: normal;
  src: ("../fonts/TTLakes-Bold.ttf");
}

.icon-button {
  width: 40px;
  height: 40px;
  background: $btnColor;
  border-radius: 20px;
  position: relative;
  border: none;
}
.icon-image {
  position: absolute;
  top: 25%;
  left: 25%;
}
body {
  font-family: "TTLakes";
  max-width: 1440px;
  margin: auto;
  color: $bgColor;
  
  @media screen and (min-width: 768px) {
    position: relative;
  }
  &.overlay::before {
    content: "";
    width: 100%;
    height: 100%;

    // display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    background-color: $menuColor;

    mix-blend-mode: normal;
    opacity: 0.96;
    
  }

  main {
    background-color: $bgColor;
  }
  .super-wrapper {
    @media screen and (min-width: 1440px) {
      display: flex;
    }
  }
}
.hidden {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}


